.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App{
   background-image: url('https://thumbs.dreamstime.com/b/old-book-flying-letters-magic-light-background-bookshelf-library-ancient-books-as-symbol-knowledge-history-218640948.jpg');
  /* background-image: url('https://tse2.mm.bing.net/th?id=OIP.SlOEDd4qG_pradkmBlFPxwHaE7&pid=Api&P=0');  */
  width: 99.9%;
  height:18.9cm;
  background-size: cover;
  background-repeat: no-repeat;
}

.header{
  height:100px;
  width:100%;
  color:burlywood;
  border-color: brown;
  border-radius: 6px;
  
}
body{
  text-align: center;
  background: #bdc3c7;  /* fallback for old browsers */
  /* background-image: url('https://tse1.mm.bing.net/th?id=OIP.Wd7IJV9nov716_4WU4LQRwHaE8&pid=Api&P=0'); */
  /* background-image: url('https://thumbs.dreamstime.com/b/old-book-flying-letters-magic-light-background-bookshelf-library-ancient-books-as-symbol-knowledge-history-218640948.jpg');  */
  background-repeat: no-repeat;
  /* background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7); 
  background: linear-gradient(to right, #2c3e50, #bdc3c7); */
  }
  
  .label{
  display: block;
  font-size: larger;
  color: rgb(23, 20, 20);
  padding: 5px;
  text-align: 10%;
  }

  .labels{
      color:white;
  }
  
  .input{
  font-size: larger;
  padding: 3px;
  margin: 2px;
  
  }
  .btn{
  color: white;
  background-color: rgb(147, 118, 175);
  border-radius: 15px;
  font-size: larger;
  display: block;
  padding: 8px;
  margin: 15px auto;

  }
  
  /* .messages{
  display: flex;
  justify-content: center;
  } */

  /* .error{
  display: block;
  background-color: red;
  color: white;
  width: fit-content;
  height: 50px;
  padding: 5px;
  }
  
  .success{
  display: block;
  background-color: lightblue;
  color: black;
  width: fit-content;
  height: 50px;
  padding: 5px;
  } */

  .form{
    /* background-image: url('https://tse2.mm.bing.net/th?id=OIP.SlOEDd4qG_pradkmBlFPxwHaE7&pid=Api&P=0'); */
      /* background-color: rgb(23, 23, 54); */
      background-color: aliceblue;
      border-radius: 10px;
      width: 350px;
      margin: 20px auto;
      padding: 40px;
      margin-top: 30px;
      background-repeat: no-repeat;
  }
  .forms{
    background-color: aliceblue;
    border-radius: 10px;
    width: 350px;
    margin: 20px auto;
    padding: 40px;
    margin-top: 70px;
    background-repeat: no-repeat;
  }
  .error{
    margin-top: 5%;
  }


  .table{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table td{
    text-align: left 1px;
    box-sizing: border-box;
    color: black;
    font-size: larger;
}
.table th{
    font-size: larger;
    text-align:left 1px;
}
.table table,th,td{
    border:1px solid rgb(22, 21, 21);
}

.editicon{
    color: rgb(0, 0, 0)
}
.removeicon{
    color:red
}
.removeicon,.editicon {
    cursor:pointer;
}
.removeicon:hover{
    background-color: gray;
}
.editicon:hover{
    background-color: gray;
}


  